@import url('https://fonts.cdnfonts.com/css/londrina-solid');
@import url('https://fonts.cdnfonts.com/css/lato');

@theme {
  --font-lato: "Lato", sans-serif;
  --font-londrina: "Londrina Solid", cursive;
}
